<!DOCTYPE html>
<html>
<head>
	 <?php $this->load->helper('url'); ?>

        <title>PAESIS - PUBLICACIONES</title>
        <link rel="icon" href="../../bootstrap/minerva.jpg" type="image/x-icon" />
        <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ 
        <!--<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS 
        <link href="../../bootstrap/css/freelancer.css" rel="stylesheet">

        <!-- Custom Fonts 
        <link href="../../bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="../../bootstrap/js/Publicaciones.js"></script>
<link href="../../bootstrap/css/publicacioncss.css" rel="stylesheet">

</head>
<body>

